.card-footer{
    background-color: white;
}

span.badge.badge-primary{
    background-color: var(--main-color-hard) !important;
}

span.price{
    color:#1aa00e
}

.product{
    transition: transform .2s !important;
    width: auto;
    margin: .6rem;
    box-shadow: 0px 0px 8px 0px #00000072;
}

.product:hover {
    z-index: 1 !important;
    transform: scale(1.1) !important;
}

.productFooter {
    text-align: center;
}